# Python / Bytecode
*.py[cod]
*$py.class
__pycache__/
*.so
.Python
env/
venv/
ENV/
.env

# Static build & collectstatic
staticfiles_build/
staticfiles/

# Vercel & Deployment
.vercel
.vercel/

# IDE & OS files
.vscode/
.idea/
*.log
Thumbs.db
.DS_Store
